@import "tailwindcss";
@tailwind components;
@tailwind utilities;

@layer components {
  .nav__link {
    @apply relative text-base font-medium w-fit block text-white;
  }

  .nav__link::after {
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: theme('colors.yellow.400');
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
  }

  .nav__link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .text-bg {
    background-image: linear-gradient(to right, #8750f2 0%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}